<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 配置bean class: bean的完全限定名，通过分社的方式在IOC容器中创建Bean，所以要求Bean中必须有无参数的构造器 id：表示容器中的bean，ID唯一s -->
	<bean id="helloWorld" class="com.david.spring.beans.HelloWorld">
		<property name="name" value="david.dai"></property>
	</bean>
	<!-- 通过构造方法配置bean的属性 -->
	<bean id="car" class="com.david.spring.beans.Car">
		<constructor-arg name="brand" value="大众"></constructor-arg>
		<constructor-arg name="corp" value="一汽大众有限公司"></constructor-arg>
		<constructor-arg name="price" value="88888.86"></constructor-arg>
	</bean>
	<!-- 通过构造方法配置bean的属性 -->
	<bean id="car2" class="com.david.spring.beans.Car">
		<constructor-arg name="brand" value="奥迪"></constructor-arg>
		<constructor-arg name="corp">
			<value><![CDATA[<奥迪有限公司>]]></value>
		</constructor-arg>
		<constructor-arg name="price" value="88888.86"></constructor-arg>
		<constructor-arg name="maxSpeed" type="int">
			<value>123456</value>
		</constructor-arg>
	</bean>
	<!-- 通过构造方法配置bean的属性 -->
	<bean id="car3" class="com.david.spring.beans.Car">
		<constructor-arg value="888" type="double"></constructor-arg>
		<constructor-arg value="宝马X5" index="1"></constructor-arg>
	</bean>

	<bean id="person" class="com.david.spring.beans.Person">
		<constructor-arg value="888" name="age"></constructor-arg>
		<constructor-arg value="荣威350" name="name"></constructor-arg>
		<constructor-arg ref="car2" name="car"></constructor-arg>
	</bean>

	<bean id="person2" class="com.david.spring.beans.Person">
		<constructor-arg value="888" name="age"></constructor-arg>
		<constructor-arg value="荣威350" name="name"></constructor-arg>
		<property name="car4">
			<bean class="com.david.spring.beans.Car">
				<constructor-arg name="brand" value="卡迪拉克"></constructor-arg>
				<constructor-arg name="corp" value="凯迪拉格有限公司"></constructor-arg>
				<constructor-arg name="price" value="89898989.1"></constructor-arg>
			</bean>
		</property>
		<constructor-arg ref="car4" name="car"></constructor-arg>
	</bean>
</beans>
